.container-fluid {
  margin-top: 50px;
}

.App {
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  width: 600px;
  box-shadow: -3px -3px 32px 26px rgba(180, 179, 179, 0.1);
  font-family: "Nunito", sans-serif;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-family: "Nunito", sans-serif;
}

.App-link {
  color: #61dafb;
}
