.date {
  font-size: 20px;
  line-height: 10px;
}

.Weather ul {
  list-style: none;
  padding-left: 0;
}

.Weather form {
  padding: 20px 0px 20px 0px;
}

form {
  font-family: "Roboto", sans-serif;
}
